body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shop-button {
  background-color: rgb(245, 172, 37) !important;
  color: white !important;
}

.ant-list-item:hover {
  cursor: pointer;
}

.ant-menu.ant-menu-root, .ant-menu-item {
  background-color: #87cefa;
  margin: 2px 0 !important;
}